/* GENERAL */

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #e0f0f6;
    font-family: Verdana, Arial, Helvetica;
    font-size: 14px;
    margin: 1%;
}

/* body {
    margin: 0;
} */

button {
    cursor: pointer;
    min-width: 28px;
    margin-bottom: 4px;
}

ul {
    list-style-type: none;
}

a {
    color: #0A3C64;
    text-decoration: none;
}

a:hover {
    color: red;
}

/* a:hover {
    text-decoration: underline;
} */

/* BOJE */

.svetloplavo {
    background-color: #c0d0ff;
}

.srednjezeleno {
    background-color: #b0cfb0;
}

.srednjezeleno_c {
    text-align: center;
    background-color: #b0cfb0;
}

.tamnozeleno {
    background-color: #70b080;
}

.tamnoplavo {
    background-color: #203080;
    color: #B0C0FF;
}

.dubokozeleno {
    background-color: #006040;
    border: 6px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
}

.zlatno {
    background-color: #FFD700;
    border: 6px;
}

.silver {
    color: #4E4E4E;
}

/************* POMAGALA ***************/

.full {
    width: 100%;
}

.max-100 {
    max-width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

.underline {
    text-decoration: underline;
}

.no-outline {
    outline: none;
}

.inline-block {
    display: inline-block;
}

.sadrzaj {
    display: inline-block;
    padding: 20px 20px 20px 40px;
}

.relative {
    position: relative;
}

.hide {
    display: none;
}

.flex {
    display: flex;
}

.nowrap {
    white-space: nowrap;
}

@media (max-width: 767px) {
    .hide-sm {
        display: none;
    }
}

@media (min-width: 768px) {
    .hide-lg {
        display: none;
    }
}

/********* TIPOGRAFIJA **********/

h1 {
    font-size: 2em;
}

.krasnopis {
    color: rgba(69, 54, 37, 0.6);
    font-style: italic;
}

.krasnopis span {
    font-style: normal;
}

.siri-prored {
    line-height: 140%;
}

@media (min-width: 768px) {
    .krasnopis {
        letter-spacing: 0.12em;
    }
}

/***** BIBLIOTEKA *****/

.knjige {
    background-color: #fff;
    border: 2px solid #00A;
    font-weight: bold;
    padding-top: 4px;
}

.knjige p {
    margin: 0;
}

.knjige h3 {
    margin-left: 8px;
}

/* STARO */

.bigbigTitle {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
}

.bigbigTitleW {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    text-align: right;
    font-size: large;
}

.bigTitle {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold
}

.bigTitle_c {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    color: #a00000;
}

.bigbigTitle_c {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #a00000;
}

.bigbigTitle_r {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #A00000
}

.ttl {
    width: 100%
}

.brdr_lgray {
    border: 1px solid gray;
    background-color: #c0c0c0;
    width: 20%
}

.td_cent {
    text-align: center;
    background-color: #ffffff;
}

.Bookshelf {
    margin-right: 8px;
    margin-left: 8px;
    font-Family: Verdana, Arial, Helvetica;
    font-Size: 10pt;
    color: #B0C0FF;
    font-weight: normal;
    text-decoration: none;
    background-color: #000040;
}

.naslov_u {
    font-family: Verdana, Arial, Tahoma;
    color: #0000AA;
    font-weight: bold;
    text-decoration: underline;
}

.BELITASTER {
    font-family: Verdana, Arial, Tahoma;
    color: #0000AA;
    font-weight: normal;
    background-color: #FFFFFF;
    border-style: groove;
}

.BELITASTER_bd {
    font-family: Verdana, Arial, Tahoma;
    color: #0000AA;
    font-weight: bold;
    background-color: #FFFFFF;
    text-indent: 50px
}

.debelo {
    font-family: Arial, Tahoma, Verdana, Helvetica;
    color: black;
    font-weight: bold;
    text-decoration: none
}

.TITLECRNO {
    font-Family: Tahoma, Verdana, Arial, Helvetica;
    font-Size: 10pt;
    color: black;
    text-decoration: none;
    font-weight: bold
}

.fusn {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

a.Bookshelf {
    margin-right: 8px;
    margin-left: 8px;
    font-Family: Verdana, Arial, Helvetica;
    font-Size: 10pt;
    color: #A0A0FF;
    font-weight: normal;
    text-decoration: none;
    background-color: #000040;
}