body { 
	background-color: #F0F0F0; 
}
IMG.slika {
	width: 60%;
     display: block;
     margin-left: auto;
     margin-right: auto }

IMG.o_slikama {
	width: 320px;
     display: block;
     margin-left: auto;
     margin-right: auto }


td.sl      { margin-right:8px; margin-left:8px; font-Family: Verdana, Arial, Helvetica; font-Size:8pt; color:#B0C0FF; font-weight:normal; text-decoration:none; background-color:#000040; vertical-align:bottom; }
td.o      { margin-right:8px; margin-left:8px; font-Family: Verdana, Arial, Helvetica; font-Size:8pt; color:#B0C0FF; font-weight:normal; text-decoration:none; background-color:#000040; vertical-align:top; }



div {
	width: 185px;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
}
header {
	text-align: center;
}
li {
	display: inline-block;
}
a:link {
	color:#FF0000;
}     
a:visited {
	color:gray;
}  
/* miš iznad */
a:hover { 
	color:black;
}  
/* trenutni link */ 
a:active {
	color:#0000FF;
}  
footer {
	color:black;
	text-decoration: overline;
	text-align: center;
}
footer img {
	border-width:0; 
	width:90px;
}